<div class="row">

    <h1>Day 8 - Shopping Cart</h1>

	<p>In tonight's class you will be:</p>

	<ul>
		<li>Creating a mini-shopping cart directive (remember to add the script reference in index.html)</li>
		<li>Add the mini-shopping cart directive to the product list and detail pages</li>
		<li>Create a Shopping Cart
			<ul>
				<li>Create a Cart service (be sure to add the script reference in index.html)</li>
				<li>Create a cart.html view</li>
				<li>Create a Cart controller (be sure to add the script reference in index.html)</li>
				<li>Add the cart state to the '/public/routes.js' file</li>
			</ul>
		</li>
	</ul>

	<h3>On your own</h3>

	<p>Use the file assets below to add a shopping cart to the MyStore application.
	Code stubs have been provided for you, but the guts (and glory) you will need to write yourself.
	Don't worry, throughout the class you have been equipped with the tools needed to slay this beast!</p>

	<gist id="310086b34d2d2f979ad7"></gist>

	<div class="alert alert-info">
		<p>Remember to commit your changes to Github!</p>
	</div>

	<p><a ui-sref="geekwise.page({page_id: 9})" class="btn btn-default">Continue to Day 9</a></p>
</div>

