<section id="home" name="home">
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1><b>Welcome Geekwise Students</b></h1>
                    <h3>JavaScript II with AngularJS</h3>
                    <br>
                </div>

                <div class="col-lg-2">
                    <h5>JavaScript II</h5>
                    <p>Covering best practices and object-oriented programming.</p>
                    <img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow1.png">
                </div>
                <div class="col-lg-8">
                    <a ui-sref="geek"><img class="img-responsive" src="http://geekwiseacademy.com/img/logo_home.jpg" alt="Geekwise Academy"></a>
                </div>
                <div class="col-lg-2">
                    <br>
                    <img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
                    <h5>AngularJS</h5>
                    <p>Learn Google's superheroic, 100% JavaScript framework for dynamic web apps. <a href="http://angularjs.org/">http://angularjs.org/</a></p>
                </div>
            </div>
        </div> <!--/ .container -->
    </div><!--/ #headerwrap -->
</section>

<section id="contact" name="contact">
    <div id="mailing-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Mailing list</h3>

                </div>
            </div>
        </div>
    </div>
</section>
