<div class="container">

    <h1>Day 8 - Shopping Cart</h1>

    <p>In tonight's class you will be:</p>

    <ul>
        <li>Creating Shopping Cart
            <ul>
                <li>Create a cart service</li>
                <li>Create a cart controller</li>
                <li>Add the CartController to the cart state</li>
                <li>Update the cart.html view</li>
            </ul>
        </li>
        <li>Creating a mini-shopping cart directive</li>
        <li>Create an add to cart button directive</li>
    </ul>

    <h2>Cart Service</h2>

    <p>Services are the ideal place for encapsulating business logic, formatting data and performing calculations prior to presenting them in the view.</p>

    <p>Add a CartService to the services.js file:</p>

    <gist id="a26f85400a3e8818a834" file="cart-service.js"></gist>

    <h3>Updating the addItem method</h3>

    <p>The addItem method will take an item as a parameter and will check for the existence of the item in the <code>items</code> object.
        If the item doesn't exist, add a <code>quantity</code> property and initialize it with the value of 1.
        Then, add the item to the <code>items</code> object, using the <code>id</code> as its key:</p>
<pre class="prettyprint lang-javascript">
if(!items[item.id]) {
    item.quantity = 1;
    items[item.id] = item;
}
</pre>

    <p>If the item already exists in the <code>items</code> object, increment the quantity property by 1:</p>
<pre class="prettyprint lang-javascript">
else {
    items[item.id].quantity += 1;
}
</pre>
    <h3>Updating the removeItem method</h3>

    <p>The removeItem method will use the built-in Javascript keyword <code>delete</code> to remove the item from the <code>items</code> object:</p>

<pre class="prettyprint lang-javascript">
removeItem: function(id) {
    delete items[id];
},
</pre>

    <h3>Updating the emptyCart method</h3>

    <p>The emptyCart method overrides the <code>items</code> object with an empty object:</p>

<pre class="prettyprint lang-javascript">
emptyCart: function() {
    items = {};
},
</pre>

    <h3>Updating the getItemCount method</h3>

    <p>The getItemCount method returns the total quantity of items in the <code>items</code> object.
        Be careful to use the built-in JavaScript <code>parseInt()</code> function to convert strings to numbers:</p>

<pre class="prettyprint lang-javascript">
getItemCount: function() {
    var total = 0;
    angular.forEach(items, function(item) {
        total += parseInt(item.quantity);
    });
    return total;
}
</pre>

    <h3>Updating the getCartSubtotal method</h3>

    <p>The getCartSubtotal method returns the quantity of items multiplied by the item price or specialPrice (if specialPrice property exists).
        Once again, be sure to use the <code>parseInt()</code> function to ensure that the item quantity is an integer and not a string.
        In addition, use the built-in <code>parseFloat()</code> function to ensure that the item price is a double integer:
    </p>

<pre class="prettyprint lang-javascript">
getCartSubtotal: function() {
    var total = 0;
    angular.forEach(items, function(item) {
       total += parseInt(item.quantity) * parseFloat(item.specialPrice || item.price);
    });
    return total;
},
</pre>

    <h2>Cart Controller</h2>

    <p>Add a CartController to the controllers.js file:</p>

    <gist id="a26f85400a3e8818a834" file="cart-controller.js"></gist>

    <p>Inject the CartService into the CartController using Angular's built-in dependency injection annotation.
        Then, using the getItems() method, set the items from the CartService in a variable named <code>items</code> on the $scope:
    </p>
<pre class="prettyprint lang-javascript">
...
$scope.items = CartService.getItems();
...
</pre>

    <p>Next, update each function (addItem, getItemCount, getCartSubtotal, getCartTotal, removeItem, emptyCart and checkout) to invoke the corresponding methods in the CartService. For example:</p>

<pre class="prettyprint lang-javascript">
...
$scope.addItem = function(item) {
    // Pass the item into the addItem method of the CartService
    CartService.addItem(item);
};
...
</pre>

    <p>By design, the controller is very thin, meaning that it is devoid of complex business logic.
        Adding application business logic in the controller is an anti-pattern for several reasons:</p>

    <ul>
        <li>Controllers are transient objects, meaning they are created and destroyed frequently</li>
        <li>Controllers are not shared throughout the application, and neither is the code they contain</li>
        <li>Complex controller logic is not easily testable</li>
    </ul>

    <p>In your applications, aim to make your controllers "anemic", with the sole responsibility of marshalling data from the services and to the view.
        Add the CartController to the 'cart' state of the 'states.js' file.</p>
    
    <h2>Mini-cart directive</h2>

    <p>Add a miniCart directive to the directives.js file:</p>

    <gist id="a26f85400a3e8818a834" file="mini-cart-directive.js"></gist>

    <p>Update the getCartSubtotal and getItemCount functions on the scope to return respective values using the getCartSubtotal and getItemCount methods on the cartService.</p>

    <p>Add a mini-cart template to the 'templates' directory:</p>

    <gist id="a26f85400a3e8818a834" file="mini-cart.html"></gist>

    <h3>Creating an "Add to Cart" directive</h3>

    <p>Create a new directive and name it 'addCartButton' (in the directives.js file).
        Next, inject the CartService into the directive using Angular's built-in dependency injection annotations.
        The directive will have the following properties:</p>
    <ul>
        <li>Restrict the directive for use as an element</li>
        <li>An isolated scope that accepts a product object (using two-way data binding)</li>
        <li>Specify a templateUrl path of 'templates/add-cart-button.html'</li>
        <li>Add an addItem method on the scope (using the link function) and set it equal to the CartService addItem method</li>
    </ul>
    <p>The completed code should resemble the following:</p>

    <gist id="a26f85400a3e8818a834" file="add-cart-button.js"></gist>

    <p>Inject the CartService into the AddCartButton directive. Add the item to the scope using the two-way binding syntax and update the addItem function on the scope to use the CartService.</p>

    <p>Next, create the 'add-cart-button.html' template in the 'app/templates/' directory. Add the following HTML markup:</p>

    <gist id="a26f85400a3e8818a834" file="add-cart-button.html"></gist>

    <p>Update the button using the 'ng-click' directive to call the addItem method of the AddCartButton directive, passing the the item to be added to the cart.</p>

    <p>Update the product-group.html by removing the place-holder add cart link with the directive above. Also, update the detail.html view to use the add-cart button.</p>

    <h3>Update the cart.html view</h3>

    <p>Within the div with the 'col-mm-12' class (and before the cart table), add an alert message that is only displayed when the shopping cart is empty:</p>

<pre class="prettyprint lang-html">
&lt;div class=&quot;alert alert-warning&quot; ng-show=&quot;!getItemCount()&quot;&gt;
	&lt;p&gt;There are no items in your cart
		&lt;a ui-sref=&quot;swag&quot; class=&quot;btn btn-default&quot;&gt;
            &lt;i class=&quot;glyphicon glyphicon-shopping-cart&quot;&gt;&lt;/i&gt; Continue Shopping
        &lt;/a&gt;
    &lt;/p&gt;
&lt;/div&gt;
</pre>

    <p>Next, add an <code>ng-show</code> directive to the cart table and using the getItemCount method as the evaluated expression:</p>

<pre class="prettyprint lang-html">
&lt;table class="table table-hover" ng-show="getItemCount()"&gt;
</pre>

    <p>Update the cart.html view so that the items in the items object on the scope are looped over and repeated in the view:</p>

<pre class="prettyprint lang-html">
<!-- repeat of the items in the cart -->
&lt;tr ng-repeat="item in items"&gt;
</pre>

    <p>Update the HTML by binding the properties of each item to the cart items listing.
        Using the ng-click directives, update the remove item, empty cart and checkout buttons to use the corresponding functions on the scope in the CartController.
    Using the 'ui-sref' directive, update the continue shopping button to link to the swag state.</p>

    <div class="alert alert-info">
		<p>Be sure to commit your changes to Github!</p>
	</div>

	<!---p><a ui-sref="geek.page({page_id: 8})" class="btn btn-default">Continue to Day 8</a></p--->

	<hr>

	<div disqus="'geekwise0107'"></div>

</div>

