<div class="container">

    <section ui-view>

	    <h1>JavaScript II with AngularJS</h1>

	    <ul class="nav nav-list">
		    <li><a ui-sref="geek.page({page_id: 1})">Day 1 - JavaScript Objects</a></li>
		    <li><a ui-sref="geek.page({page_id: 2})">Day 2 - Intro to AngularJS</a></li>
		    <li><a ui-sref="geek.page({page_id: 3})">Day 3 - Getting your swagger on!</a></li>
		    <li><a ui-sref="geek.page({page_id: 4})">Day 4 - Swag Product Listing</a></li>
		    <li><a ui-sref="geek.page({page_id: 5})">Day 5 - Getting MEAN</a></li>
            <!--li><a ui-sref="geek.page({page_id: 6})">Day 6 - Directives</a></li-->
            <li><a ui-sref="geek.page({page_id: 7})">Day 7 - Shopping Cart</a></li>
	    </ul>

        <h2>Development Environment</h2>

	    <h3>Webstorm</h3>
		<p>In this course you will be using the <a href="http://www.jetbrains.com/webstorm/" target="_blank">WebStorm IDE</a> with the following 1-year educational license:</p>
	    <gist id="310086b34d2d2f979ad7" file="webstorm"></gist>

	    <h3>Install Node.js</h3>
	    <p>Download and install <a href="http://nodejs.org/">Node.js</a> on your system.</p>

        <h3>Install Git</h3>
        <p>Download and install <a href="http://git-scm.com/">Git</a>, selecting the option to add the PATH to your system path:</p>
	    <p class="text-center"><img src="http://f.cl.ly/items/2V2O3i1p3R2F1r2v0a12/mysgit.png" title="Git Setup"></p>

        <h3>Install SourceTree</h3>
        <p>Download and install <a href="http://www.sourcetreeapp.com/">SourceTree</a>, a Git <abbr title="Graphical User Interface">GUI</abbr> client for Windows or Mac.</p>
        <p>
            We will be referencing Angular and other third-party scripts and resources that are hosted on a <abbr title="Content Delivery Network">CDN</abbr>.
            We will also be making <abbr title="Representational state transfer">REST</abbr>ful API calls and will require that our web application is served up in the browser.
            To facilitate this, we will be using <a href="http://nodejs.org">Node.js</a> and <a href="http://expressjs.com">Express</a> to serve up a local instance of the application in the browser.</p>

        <h2>Course Resources</h2>
        <ul>
            <li>The <a href="http://angularjs.org">AngularJS website</a></li>
            <li>The <a href="https://docs.angularjs.org/api">AngularJS API Docs</a></li>
            <li>The <a href="https://www.youtube.com/channel/UCbn1OgGei-DV7aSRo_HaAiw">Official AngualrJS YouTube channel</a></li>
            <li>O'Reilly's <a href="http://it-ebooks.info/book/2076/">AngularJS PDF book</a></li>
            <li>Learn AngularJS with <a href="https://egghead.io/">Egghead.io video tutorials</a></li>
            <li>Douglas Crawford's, <a href="http://it-ebooks.info/book/274/">"JavaScript: The Good Parts"</a></li>
            <li><a href="http://eloquentjavascript.net/">Elloquent JavaScript</a> by Marijn Haverbeke</li>
            <li>The Mozilla Developer Network <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript Reference</a></li>
            <li><a href="http://www.jshint.com/">JSHint</a> code quality tool</li>
            <li>Online <a href="http://www.jsoneditoronline.org/">JSON Editor</a></li>
            <li>Chrome <a href="https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc?hl=en">JSONView</a> extension.</li>
            <li>Firefox <a href="https://addons.mozilla.org/en-us/firefox/addon/jsonview/">JSONView</a> add-on.</li>
        </ul>
        <p>Additional resource will be referenced throughout the course.</p>
    </section>

</div>
