<section id="home" name="home">
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1><b>Welcome Geekwise Students</b></h1>
                    <h3>JavaScript II with AngularJS</h3>
                    <br>
                </div>

                <div class="col-lg-2">
                    <h5>JavaScript II</h5>
                    <p>Covering best practices and object-oriented programming.</p>
                    <img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow1.png">
                </div>
                <div class="col-lg-8">
                    <a ui-sref="geek"><img class="img-responsive" src="http://geekwiseacademy.com/img/logo_home.jpg" alt="Geekwise Academy"></a>
                </div>
                <div class="col-lg-2">
                    <br>
                    <img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
                    <h5>AngularJS</h5>
                    <p>Learn Google's superheroic, 100% JavaScript framework for dynamic web apps. <a href="http://angularjs.org/">http://angularjs.org/</a></p>
                </div>
            </div>
        </div> <!--/ .container -->
    </div><!--/ #headerwrap -->
</section>

<section id="contact" name="contact">
    <div id="mailing-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Mailing list</h3>
                    <div id="mc_embed_signup">
                        <form action="http://pixelpolished.us8.list-manage1.com/subscribe/post?u=429c146ae2114b333686e6374&amp;id=990bceac24" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="mce-FNAME">
                                            First Name <span class="asterisk">*</span></label>
                                        <input type="text" class="form-control" name="FNAME" id="mce-FNAME" placeholder="Your first name" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label for="mce-LNAME">
                                            Last Name <span class="asterisk">*</span></label>
                                        <input type="text" class="form-control" name="LNAME" id="mce-LNAME" placeholder="Your last name" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label for="mce-EMAIL">
                                            Email Address <span class="asterisk">*</span></label>
                                        <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                            <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Your email address" required="required" /></div>
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_429c146ae2114b333686e6374_990bceac24" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary pull-right"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
