<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; 2014 {{ site.title }}. All rights reserved.</span>
        <a class="btn btn-linkedin" href="{{ site.linkedin_link }}" title="LinkedIn">
            <i class="fa fa-linkedin"></i>
        </a>
        <a class="btn btn-google-plus" href="{{ site.google_link}}" title="Google+">
            <i class="fa fa-google-plus"></i>
        </a>
        <a class="btn btn-twitter" href="{{ site.twitter_link}}" title="Twitter">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-github" href="{{ site.github_link }}" title="GitHub">
            <i class="fa fa-github"></i>
        </a>
    </div>
</footer>
