<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12">
                <div class="social">
                    <div class="rounded center icon-share"></div>
                    <div class="share-container rounded">
                        <a class="share-btn tl icon-google-plus" href='{{ site.googleplus_link }}'></a>
                        <a class="share-btn tr icon-twitter" href='{{ site.twitter_link }}'></a>
                        <a class="share-btn bl icon-github" href='{{ site.github_link }}'></a>
                        <a class="share-btn br icon-linkedin" href='{{ site.linkedin_link }}'></a>
                    </div>
                </div>​
                <h1><a href="{{ site.baseurl }}/">{{ site.title}}</a>
                    <p class="lead text-muted">Rich internet applications with a thick front-end</p></h1>
            </div>
        </div>
    </div>
</header>

